@import "components/typography.scss";

body {
  background-color: #1e4c4b;
  color: #fff;
}

.main-wrapper {
  max-width: 1140px;
}

#visa-title {
  @include heading;
  max-width: 340px;
  line-height: .8;
}
