@import "components/typography.scss";
@import "components/colors.scss";

body {
  background-color: $primary-color;
  color: $white;

  #main-container {
    margin-left: 0px;
    margin-right: 0px;
  }

  #moon-navbar {
    background-color: $secondary-color;

    a.navbar-brand {
      color: $white;
    }
  }

  #visa-title {
    @include heading;
    max-width: 340px;
    line-height: .8;
    position: absolute;
    top: 50%;
    left: 10%;
  }

  #visa-sub-title {
    @include subtitle;
    line-height: 1;
    
  }

  ul {
    list-style: none;
  }

  #moon-navbar {
    width: 100%;
  }

  #slider-wrapper {
    width: 100%;
    margin: auto;
    overflow: auto;

    #slider {
      width: 100%;
      height: 500px;
      position: relative;
      overflow: hidden;
      float: left;
      margin-bottom: 0;
      padding: 0;

      li {
        display: none;
        width: 100%;
        height: 500px;
      }

      li.active {
        display: inline-block;
      }

      #slide-1 {
        background-image: url("../static/img/background.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
      }

      #slide-2 {
        background-image: url("../static/img/rock.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
      }

      #slide-3 {
        background-image: url("../static/img/rocket.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
      }
    }
  }

  .progress-wrapper {
    width: 300px;
    margin: 40px auto 0;
  }

  .bar-wrapper {
    overflow: hidden;
    height: 18px;
    background-color: $white;
    border-radius: 2px;
  }

  .bar {
    width: 0%;
    height: 18px;

    background-color: $primary-color-ascendant;
    box-sizing: border-box;

    -webkit-transition: width 0.6s ease;
    -moz-transition: width 0.6s ease;
    -ms-transition: width 0.6s ease;
    -o-transition: width 0.6s ease;
    transition: width 0.6s ease;
  }

  #navigation-wrapper {
    background-color: $secondary-color;
    text-align: center;
    padding-bottom: 30px;

    .btn.btn-link {
      color: $primary-color-ascendant;
    }

    #controllers-wrapper {
      margin-top: 40px;

      #view-ease {
        color: $white;
        text-decoration: underline;
      }
    }
  }

}
